set surround
set relativenumber number

" AceJump https://github.com/acejump/AceJump#configuring
" Press `f` to activate AceJump
map f :action AceAction<CR>
" Press `F` to activate Target Mode
map F :action AceTargetAction<CR>
" Press `g` to activate Line Mode
" map g :action AceLineAction<CR>
" disabled b/c interferes with gg to go to first line of file
